﻿

<link href="~/Scripts/bootstrap-slider/bootstrap-slider.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-slider/bootstrap-slider.js"></script>

    @{
        var user = (UserDefinition)Serenity.Authorization.UserDefinition;
        // needed to log audit details - saves time returning data
        Serene2.Global.MyGlobals.UserId = user.UserId.ToString();
        Serene2.Global.MyGlobals.UserName = user.Username;

    }

    @model Serene2.Common.DashboardPageModel
    @{
        ViewData["Title"] = "Dashboard";
        ViewData["PageId"] = "Dashboard";
    }

    @section Head {
        <link rel="stylesheet" href="~/Content/iCheck/flat/blue.css">
        <link rel="stylesheet" href="~/Scripts/morris/morris.css">
        <link rel="stylesheet" href="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.css">
        <link rel="stylesheet" href="~/Scripts/datepicker/datepicker3.css">
        <link rel="stylesheet" href="~/Scripts/daterangepicker/daterangepicker-bs3.css">
        <link rel="stylesheet" href="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <script src="~/Scripts/raphael/raphael-min.js"></script>
        <script src="~/Scripts/morris/morris.min.js"></script>
        <script src="~/Scripts/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/Scripts/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/Scripts/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/Scripts/knob/jquery.knob.js"></script>
        <script src="~/Scripts/daterangepicker/moment.min.js"></script>
        <script src="~/Scripts/daterangepicker/daterangepicker.js"></script>
        <script src="~/Scripts/datepicker/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!--script src="~/Scripts/adminlte/pages/dashboard.js"></script>
        <script src="~/Scripts/adminlte/demo.js"></script>-->

        <script src="~/Scripts/chartjs/Chart.min.js"></script>

    }

    @section ContentHeader {
        @{
            if (user.isAthlete == 1)
            {
                <h1>@user.DisplayName<small> - Athlete</small></h1>
            }

            if (user.isPhysio != "")
            {
                <h1>@user.DisplayName<small> - Physio</small></h1><br />
                <h5>Please select Athlete and enter Physio record using the following icon:</h5><br />
                <i class="fa fa-road text-blue fa-4x"></i>

            }
            if (user.isAthlete != 1)
            {
                if (user.isPhysio == "")
                {
                    <h1>High Performance Athlete<small> - Admin</small></h1>
                }
            }
        }
    }



    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">

            @{
                if (user.isAthlete == 1)
                {

                    if (user.AthleteAlreadyLoggedAss == "0" || user.AthleteAlreadyLoggedAss == "")
                    {

                        <a href="#" class='newAssessment'>
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>Log</h3>
                                    <p>Add Monitoring</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-plus-circled"></i>
                                </div>
                            </div>
                        </a>

                  

                        <script type="text/javascript">

                            $('.newAssessment').click(function() {

                                var dlg = new Serene2.Assessment.WellBeingDialog();
                                dlg.loadEntityAndOpenDialog({
                                    AthleteId: @user.AthleteID,
                                    Sleep: 2, // NO
                                    ChangeDailyRoutine: 2,
                                    SoughtMedicalAttention: 2,
                                    TightnessPain: 2,
                                    AcademicStress: 2,
                                    InjStatus: 1,
                                    dateof: Q.formatDate(new Date(), 'yyyy-MM-dd')
                                });

                            });
                        </script>

                    }


                    if (user.AthleteAlreadyLoggedAss == "1")
                    {
                        <a href="~/Assessment/WellBeing" class="small-box-footer">
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>Log</h3>
                                    <p>Done!</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-plus-circled"></i>
                                </div>
                            </div>
                        </a>


                        if (user.AthleteAlreadyLoggedRPE == "0")
                        {
                        <a href="#" class='newRPE'>
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>Log</h3>
                                    <p>Add RPE</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-plus-circled"></i>
                                </div>
                            </div>
                        </a>
                        }

                        if (user.AthleteAlreadyLoggedRPE == "1")
                        {
                            <a href="~/Assessment/WellBeing" class="small-box-footer">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>Log</h3>
                                        <p>RPE Done!</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-plus-circled"></i>
                                    </div>
                                </div>
                            </a>
                        }

                        <script type="text/javascript">

                            $('.newRPE').click(function() {

                                var dlg = new Serene2.RPE.RpeDialog();
                                dlg.loadEntityAndOpenDialog({
                                    AthleteId: @user.AthleteID,
                                    AthleteUsername: "@user.Username",
                                    RpEvAlue: 0,
                                    Daterecorded: Q.formatDate(new Date(), 'yyyy-MM-dd')
                                });

                            });
                        </script>


                    }


                    if (user.recentAssessmentPass == "1")
                    {
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>Alert</h3>
                                <p>Please speak to your S&C Coach.</p>
                            </div>

                        </div>
                    }

                }
            }

            @{
                if (user.isAthlete != 1)
                {
                    if (user.isPhysio == "")
                    {
                    <!-- small box -->
                        <a href="~/Athlete/Athlete?lastTwoAssessmentId=1" class="small-box-footer">
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>@Model.last2assessmentFail</h3>
                                    <p>2 Assessment Fails</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </a>
                    }
                }
            }

        </div><!-- ./col -->

        @{
            if (user.isAthlete == 1)
            {
                
                <div class="row">
                    <div class="col-md-4">
                        <!-- DONUT CHART -->
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Attendance<p></p>(@Model.AthleteNumAttend sessions out of expected @Model.AthleteNumSessions)</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                           
                            <div class="box-body">
                                <div style="position: relative; width:300px; height:300px;">
                                    <canvas id="text"
                                            style="z-index: 1;
                                       position: absolute;
                                       left: 0px;
                                       top: 0px;"
                                            height="300"
                                            width="300"></canvas>
                                    <canvas id="pieChart"
                                            style="z-index: 2;
                                           position: absolute;
                                           left: 0px;
                                           top: 0px;"
                                            height="300"
                                            width="300"></canvas>
                                </div>
                            </div>
                    </div><!-- /.box -->
                    </div><!-- /.col (RIGHT) -->
                </div><!-- /.row -->

                <div class="row" style="padding-left: 20px;">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Weight Chart</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="areaChart" style="height:200px"></canvas>
                                </div>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col (RIGHT) -->
                </div><!-- /.row -->

            }
        }


        @{
            if (user.isAthlete != 1)
            {
                if (user.isPhysio == "")
                {
                    <!--
                    <div class="col-lg-3 col-xs-6">
                      
                        <a href="~/Athlete/Athlete?lastTwoAssessmentId=0" class="small-box-footer">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>@Model.last2assessmentPass</h3>
                                    <p>2 Assessment Pass</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </a>
                    </div>
-->
                    <div class="col-lg-3 col-xs-6">
                        
                        <a href="~/Athlete/Athlete?AthleteLoggedAssessmentToday=1" class="small-box-footer">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>@Model.attendingtoday</h3>
                                    <p>Attended Today</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-checkmark-circled"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    

                    <!--
                        <div class="col-lg-3 col-xs-6">
                        
                            <a href="~/Athlete/Athlete?AthleteLoggedAssessmentToday=0" class="small-box-footer">
                                <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <h3>Model.missingtoday</h3>
                                        <p>Absent Today</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-plus-circled"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        -->
                        }
                        }
                        }

                        @{
                            if (user.isAthlete != 1)
                            {
                                if (user.isPhysio == "")
                                {
                                    <!--
                                    <div class="col-lg-3 col-xs-6">

                                        <div class="small-box bg-yellow">
                                            <div class="inner">
                                                <h3>@Model.CustomerCount</h3>
                                                <p>Total Customers</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-person-add"></i>
                                            </div>
                                            <a href=""></a>
                                        </div>
                                    </div>-->
                                }
                            }
                        }

                        @{
                            if (user.isAthlete != 1)
                            {
                                if (user.isPhysio == "")
                                {
                                    <!--
                                    <div class="col-lg-3 col-xs-6">
                                        <div class="small-box bg-red">
                                            <div class="inner">
                                                <h3>@Model.ProductCount</h3>
                                                <p>Different Products</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-pie-graph"></i>
                                            </div>
                                            <a href=""></a>
                                        </div>
                                    </div>-->
                                }
                            }
                        }


                    </div><!-- /.row -->
    <!-- Main row -->

    <div class="row">

        @{
            if (user.isAthlete != 1)
            {
                if (user.isPhysio == "")
                {
    <!-- Left col -->
                    <section class="col-lg-7 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Missed Attendance By Sport</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    <canvas id="barChartPS" style="height:400px;width:100%"></canvas>
                                </div>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </section><!-- /.Left col -->
                }
            }
        }
        <!-- right col (We are only adding the ID to make the widgets sortable)-->

    </div><!-- /.row (main row) -->


    @{
        if (user.isAthlete == 1)
        {
            if (user.isPhysio == "")
            {

                <script>

                    $(function () {
                        /* ChartJS
                            * -------
                            * Here we will create a few charts using ChartJS
                            */

                        //--------------
                        //- AREA CHART -
                        //--------------

                        // Get context with jQuery - using jQuery's .get() method.
                        var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
                        // This will get the first returned node in the jQuery collection.
                        var areaChart = new Chart(areaChartCanvas);


                        var chk = "@Model.AthleteWeightGraphLabel";
                        chk = chk.replace(/&quot;/g,'');


                        var areaChartData = {
                            // labels: chk,
                            
                            labels:  chk.split(',') ,
                            datasets: [
                            

                                {
                                    type: "line",    
                                    fillColor: "white",
                                    strokeColor: "black",
                                        "data": [ @Model.AthleteWeightGraphBASEValue ]},


                                        {
                                            label: "Avg Weight",
                                            fillColor: "rgba(60,141,188,0.9)",
                                            strokeColor: "rgba(60,141,188,0.8)",
                                            pointColor: "#3b8bba",
                                            pointStrokeColor: "rgba(60,141,188,1)",
                                            pointHighlightFill: "#fff",
                                            pointHighlightStroke: "rgba(60,141,188,1)",
                                            yAxisID: "y-axis-0",
                                            data: [ @Model.AthleteWeightGraphValue ]
                                        }
                            ]
                        };

                        var areaChartOptions = {
                            //Boolean - If we should show the scale at all
                            showScale: true,
                            //Boolean - Whether grid lines are shown across the chart
                            scaleShowGridLines: false,
                            //String - Colour of the grid lines
                            scaleGridLineColor: "rgba(0,0,0,.05)",
                            //Number - Width of the grid lines
                            scaleGridLineWidth: 1,
                            //Boolean - Whether to show horizontal lines (except X axis)
                            scaleShowHorizontalLines: true,
                            //Boolean - Whether to show vertical lines (except Y axis)
                            scaleShowVerticalLines: true,
                            //Boolean - Whether the line is curved between points
                            bezierCurve: true,
                            //Number - Tension of the bezier curve between points
                            bezierCurveTension: 0.3,
                            //Boolean - Whether to show a dot for each point
                            pointDot: false,
                            //Number - Radius of each point dot in pixels
                            pointDotRadius: 4,
                            //Number - Pixel width of point dot stroke
                            pointDotStrokeWidth: 1,
                            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                            pointHitDetectionRadius: 20,
                            //Boolean - Whether to show a stroke for datasets
                            datasetStroke: true,
                            //Number - Pixel width of dataset stroke
                            datasetStrokeWidth: 2,
                            //Boolean - Whether to fill the dataset with a color
                            datasetFill: true,
                            //String - A legend template
                            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                            maintainAspectRatio: true,
                            //Boolean - whether to make the chart responsive to window resizing
                            responsive: true

                        };

                        //Create the line chart
                        areaChart.Line(areaChartData, areaChartOptions);



                        // Get context with jQuery - using jQuery's .get() method.
                        var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                        var pieChart = new Chart(pieChartCanvas);
                        var PieData = [
                            {
                                value: @Model.AthleteAbsentPerc,
                                color: "#ff471a",
                                highlight: "#d2d6de",
                                label: "Absent %"
                            },
                            {
                                value: @Model.AthleteAttendPerc,
                                color: "#00a65a",
                                highlight: "#d2d6de",
                                label: "Attendance %"
                            }
                        ];
                        var pieOptions = {
                            //Boolean - Whether we should show a stroke on each segment
                            segmentShowStroke: true,
                            //String - The colour of each segment stroke
                            segmentStrokeColor: "#fff",
                            //Number - The width of each segment stroke
                            segmentStrokeWidth: 2,
                            //Number - The percentage of the chart that we cut out of the middle
                            percentageInnerCutout: 50, // This is 0 for Pie charts
                            //Number - Amount of animation steps
                            animationSteps: 100,
                            //String - Animation easing effect
                            animationEasing: "easeOutBounce",
                            //Boolean - Whether we animate the rotation of the Doughnut
                            animateRotate: true,
                            //Boolean - Whether we animate scaling the Doughnut from the centre
                            animateScale: false,
                            //Boolean - whether to make the chart responsive to window resizing
                            responsive: true,
                            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                            maintainAspectRatio: true,

                            //String - A legend template
                            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",

                        };
                        //Create pie or douhnut chart
                        // You can switch between pie and douhnut using the method below.
                        pieChart.Doughnut(PieData, pieOptions);


                        var textCtx = $("#text").get(0).getContext("2d");
                        textCtx.textAlign = "center";
                        textCtx.textBaseline = "middle";
                        textCtx.font = "30px sans-serif";
                        textCtx.fillText("@Model.AthleteAttendPerc %", 150, 150);

                    });
                </script>
            }
        }

    }




@{
    if (user.isAthlete != 1)
    {
        

            <script>

                $(function () {
                    /* ChartJS
                        * -------
                        * Here we will create a few charts using ChartJS
                        */

                    //--------------
                    //- AREA CHART -
                    //--------------


                    var chk = "@Model.SporttGraphLabel";
                    chk = chk.replace(/&quot;/g,'');

                    var areaChartData = {
                        labels:  chk.split(',') ,
                        datasets: [
                          /* 
                        {
                            label: "Expected",
                            fillColor: "purple",
                            strokeColor: "purple",
                            pointColor: "purple",
                            pointStrokeColor: "#c1c7d1",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [Model.SporttGraphexpected]
                        
                        },
                            {
                                label: "Attended",
                                fillColor: "green",
                                strokeColor: "green",
                                pointColor: "green",
                                pointStrokeColor: "#c1c7d1",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: [Model.SporttGraphattend]
                        },
                    */
                        {
                            label: "Absent",
                            fillColor: "#ff8000",
                            strokeColor: "#ff8000",
                            pointColor: "#ff8000",
                            pointStrokeColor: "rgba(60,141,188,1)",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(60,141,188,1)",
                            data: [@Model.SporttGraphmissing]
                        }
                        ]
                    };



                    //-------------
                    //- BAR CHART -
                    //-------------
                    var barChartCanvas = $("#barChartPS").get(0).getContext("2d");
                    var barChart = new Chart(barChartCanvas);
                    var barChartData = areaChartData;
                 //   barChartData.datasets[1].fillColor = "#C30000";
                   // barChartData.datasets[1].strokeColor = "#C30000";
                    //barChartData.datasets[1].pointColor = "#C30000";
                    var barChartOptions = {
                        //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                        scaleBeginAtZero: true,
                        //Boolean - Whether grid lines are shown across the chart
                        scaleShowGridLines: true,
                        //String - Colour of the grid lines
                        scaleGridLineColor: "rgba(0,0,0,.05)",
                        //Number - Width of the grid lines
                        scaleGridLineWidth: 1,
                        //Boolean - Whether to show horizontal lines (except X axis)
                        scaleShowHorizontalLines: true,
                        //Boolean - Whether to show vertical lines (except Y axis)
                        scaleShowVerticalLines: true,
                        //Boolean - If there is a stroke on each bar
                        barShowStroke: true,
                        //Number - Pixel width of the bar stroke
                        barStrokeWidth: 2,
                        //Number - Spacing between each of the X value sets
                        barValueSpacing: 5,
                        //Number - Spacing between data sets within X values
                        barDatasetSpacing: 1,
                        //String - A legend template
                        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                        //Boolean - whether to make the chart responsive
                        responsive: true,
                        maintainAspectRatio: true
                    };


                    barChartOptions.datasetFill = false;
                    barChart.Bar(barChartData, barChartOptions);


                });
            </script>
        }
    }


