﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SandCTrainerList.SandCoachList.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene2.SandCTrainerList.SandCoachListGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>