﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.InjStatusAnswerLkup.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene2.Setup.InjStatusAnswerLkupGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>