﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AthletePhysio.AthletePhysio.EntityPlural");
}



<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        
            new Serene2.AthletePhysio.AthletePhysioGrid($('#GridDiv'), {}).init();

            Q.initFullHeightGridPage($('#GridDiv'));

    });
</script>

<script type="text/javascript">

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    $(document).ready(function () {
        
        var physioId = getUrlParameter('val');
        // alert(physioId);
        var chk = isNaN(physioId);
        //alert(chk);

        if (physioId != "" && chk == false ) {
           
            var dlg = new Serene2.AthletePhysio.AthletePhysioDialog();
            dlg.loadById(physioId);
            dlg.dialogOpen();
            }
    });

</script>

