﻿
<div id="~_Tabs" class="s-DialogContent">
    <ul>
        <li><a href="#~_TabInfo"><span>Physio</span></a></li>
        <li><a href="#~_Audit"><span>Audit</span></a></li>

    </ul>
    <div id="~_TabInfo" class="tab-pane s-TabInfo">
        <div id="~_Toolbar" class="s-DialogToolbar">
        </div>
        <div class="s-Form">
            <form id="~_Form" action="">
                <div class="fieldset ui-widget ui-widget-content ui-corner-all">
                    <div id="~_PropertyGrid"></div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>


    <div id="~_Audit" class="tab-pane s-TabMovies">
        <div id="~_ActionAuditGrid">

        </div>
    </div>

</div>