﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Audit.AuditLog.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene2.Audit.AuditLogGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>