﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AthleteWeight.AthleteWeight.EntityPlural");
}

<div id="GridDiv"></div>


<script type="text/javascript">
    jQuery(function () {
        new Serene2.AthleteWeight.AthleteWeightGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>