﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Athlete.Athlete.EntityPlural");
}



<div id="GridDiv"></div>
@{
    string showimg = "";
    if (IsPost)
    {
        showimg = Request.Form["showimg"];
    }
}


        <script type="text/javascript">
            jQuery(function () {

               
                if ("@Serene2.Global.MyGlobals.IsAthlete" == "1") {
                    
                    new Serene2.Athlete.AthleteGridAthlete($('#GridDiv'), {}).init();
                    
                }
                else {

                    
                    if("@showimg" =="yes")
                    {
                        var AthleteGrid = new Serene2.Athlete.AthleteImagesGrid($('#GridDiv'), {}).init();
                        
                        var q = Q.parseQueryString();
                        if (q.lastTwoAssessmentId != null && q.lastTwoAssessmentId.length) {
                            AthleteGrid.set_lastTwoAssessmentId(parseInt(q.lastTwoAssessmentId, 10));
                        }
                        if (q.AthleteLoggedAssessmentToday != null && q.AthleteLoggedAssessmentToday.length) {
                            AthleteGrid.set_AthleteLoggedAssessmentToday(parseInt(q.AthleteLoggedAssessmentToday, 10));
                        }
                    }
                    else
                    {
                        var AthleteGrid = new Serene2.Athlete.AthleteGrid($('#GridDiv'), {}).init();
                        
                        var q = Q.parseQueryString();
                        if (q.lastTwoAssessmentId != null && q.lastTwoAssessmentId.length) {
                            AthleteGrid.set_lastTwoAssessmentId(parseInt(q.lastTwoAssessmentId, 10));
                        }
                        if (q.AthleteLoggedAssessmentToday != null && q.AthleteLoggedAssessmentToday.length) {
                            AthleteGrid.set_AthleteLoggedAssessmentToday(parseInt(q.AthleteLoggedAssessmentToday, 10));
                        }
                    }

                    Q.initFullHeightGridPage($('#GridDiv'));
                }
            });

        </script>


@{
    var lastTwoAssessmentId = Request.Params["lastTwoAssessmentId"];

    var AthleteLoggedAssessmentToday = Request.Params["AthleteLoggedAssessmentToday"];

    var url = "";

    if(lastTwoAssessmentId != null)
    {
        if (lastTwoAssessmentId.Length != 0)
        {
            url = "?lastTwoAssessmentId=" + @lastTwoAssessmentId;
        }
    }

    if(AthleteLoggedAssessmentToday != null)
    {
        if (AthleteLoggedAssessmentToday.Length != 0)
        {
            url = "?AthleteLoggedAssessmentToday=" + @AthleteLoggedAssessmentToday;
        }
    }

}


<table class="table table-bordered text-center">
    <tr>
        <td>
            <form class="form-horizontal" action="@url" method="post">
                <div class="box-body">
                    <input type='hidden' name='showimg' value='yes' class='minimal' >
                    <button type="submit" class="btn btn-block btn-info btn-xs">Show Images</button>
                </div>
            </form>
        </td>
        <td>
            <form class="form-horizontal" action="@url" method="post">
                <div class="box-body">
                    <input type='hidden' name='showimg' value='' class='minimal' >
                    <button type="submit" class="btn btn-block btn-warning btn-xs">Hide Images</button>
                </div>
            </form>
        </td>
    </tr>
</table>




<script type="text/javascript">

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    $(document).ready(function () {

        var athleteId = getUrlParameter('val');
        // alert(physioId);
        var chk = isNaN(athleteId);
        //alert(chk);

        if (athleteId != "" && chk == false) {

            var dlg = new Serene2.Athlete.AthleteDialog();
            dlg.loadById(athleteId);
            dlg.dialogOpen();
            }
    });

</script>
