﻿

<div id="~_Tabs" class="s-DialogContent">
    <ul>
        <li><a href="#~_TabInfo"><span>Athlete</span></a></li>
        <li><a href="#~_TabMovies"><span>Assessment</span></a></li>

        <li><a href="#~_TabPyhsio"><span>Physio</span></a></li>

        <li><a href="#~_TabWeight"><span>Weight</span></a></li>

        <li><a href="#~_Audit"><span>Audit</span></a></li>

        <li><a href="#~_Note"><span>Notes</span></a></li>

        <li><a href="#~_RPE"><span>RPE</span></a></li>
        
    </ul>
    <div id="~_TabInfo" class="tab-pane s-TabInfo">
        <div id="~_Toolbar" class="s-DialogToolbar">
        </div>
        <div class="s-Form">
            <form id="~_Form" action="">
                <div class="fieldset ui-widget ui-widget-content ui-corner-all">
                    <div id="~_PropertyGrid"></div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
    <div id="~_TabMovies" class="tab-pane s-TabMovies">
        <div id="~_UpdateAthleteGrid">

        </div>
    </div>

    <div id="~_TabPyhsio" class="tab-pane s-TabPyhsio">
        <div id="~_UpdateAthletePhysio">

        </div>
    </div>


    <div id="~_TabWeight" class="tab-pane s-TabWeight">
        <div id="~_UpdateAthleteWeight">

        </div>
    </div>
    
    <div id="~_Audit" class="tab-pane s-TabMovies">
        <div id="~_ActionAuditGrid">

        </div>
    </div>

    <div id="~_Note" class="tab-pane s-TabMovies">
        <div id="~_AthleteNoteGrid">
        </div>
    </div>


    <div id="~_RPE" class="tab-pane s-TabMovies">
        <div id="~_AthleteRPEGrid">
        </div>
    </div>
    

</div>