﻿@model Serene2.Athlete.StatementPrintData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
<img src="~/Content/images/logo.jpg" />
<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                ADC Statement
                <small class="pull-right">Date: @DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            
            <address>
                <strong>The University of Exeter</strong><br>
                Prince of Wales Road<br>
                Exeter, Devon UK<br>
                Phone: +44 (0) 1392 661000
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            Athlete
            <address>
                <strong>@Model.Customer.FirstName @Model.Customer.LastName</strong><br>
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            Student ID: <b>@(Model.Customer.StuId)</b><br>
            <br>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Staus</th>
                        <th>Date Logged</th>
                        <th>Inj Status Answer</th>
                        <th>Weight Kg</th>
                        <th>Sleep</th>
                        <th>Rountine</th>
                        <th>Medical</th>
                        <th>Pain</th>
                        <th>Stress</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model.Details)
                    {
                        <tr>
                            <td>@d.Status</td>
                            <td>@d.dateof.Value.ToShortDateString()</td>
                            <td>@d.InjStatusAnswer</td>
                            <td>@d.WeightKg</td>
                            <td>@d.SleepAnswer</td>
                            <td>@d.ChangeDailyRoutineAnswer</td>
                            <td>@d.SoughtMedicalAttentionAnswer</td>
                            <td>@d.TightnessPainAnswer</td>
                            <td>@d.AcademicStressAnswer</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>

</section>