﻿<!DOCTYPE html>
@{
    Func<string, IHtmlString> json = x => new HtmlString(Serenity.JSON.Stringify(x));
    var hideNav = Request["hideNav"] == "1";
    var logged = Serenity.Authorization.Username;
    var themeCookie = Request.Cookies["ThemePreference"];
    var theme = themeCookie != null && !themeCookie.Value.IsEmptyOrNull() ? themeCookie.Value : "blue";
    var rtl = System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;
    var user = (UserDefinition)Serenity.Authorization.UserDefinition;
    
    if(user.isAthlete == 1)
    {
        Serene2.Global.MyGlobals.IsAthlete = "1";
    }

    if(user.isAthlete != 1)
    {
        Serene2.Global.MyGlobals.IsAthlete = "";
    }


    var userImage = VirtualPathUtility.ToAbsolute(
(user == null || string.IsNullOrEmpty(user.UserImage)) ? "~/Content/adminlte/img/avatar04.png" :
"~/upload/" + user.UserImage);
}
<!--[if IE 8]> <html lang="@UICulture" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="@UICulture" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="@UICulture" class="no-js@(hideNav ? " no-navigation" : "")">
<!--<![endif]-->
<head>
    @{Html.RenderPartial(MVC.Views.Shared._LayoutHead);}
    @RenderSection("Head", false)
    <title>@(ViewData["Title"]) - WebApp</title>
</head>
<body id="s-@(ViewData["PageId"])Page" class="@(ViewData["BodyClass"]) fixed sidebar-mini hold-transition skin-@theme@(hideNav ? " no-navigation" : " has-layout-event")@(rtl ? " rtl" : "")">

@if (hideNav)
{
<script type="text/javascript">
    $(function () {
        @RenderSection("PageInitScript", false)
    });
</script>
<div id="page-outer-nonav">
    <div id="page-container" class="page-container-common">
        @RenderBody()
    </div>
</div>
}
else
{
<style>
.main-header .logo i {
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/Unilogo.jpg) no-repeat center center;
}

</style>

<div class="wrapper">
    <header class="main-header">
        <a href="~/" class="logo">
            <span class="logo-mini"><i></i></span>
            <span class="logo-lg"><i></i><b>@LocalText.Get("Navigation.SiteTitle")</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!--<img src="@userImage" class="user-image" alt="User Image">-->
                            <span class="hidden-xs">@Serenity.Authorization.Username</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <!--
                                <img src="@userImage" class="img-circle" alt="User Image">
                                    -->
                                <p>
                                    
                                    @(user != null ? user.DisplayName : "")
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                
                                <div class="pull-left">
                                    <a href="~/Account/ChangePassword" class="btn btn-default btn-flat"><i class="fa fa-lock fa-fw"></i> @Texts.Forms.Membership.ChangePassword.FormTitle</a>
                                </div>
                                
                                <div class="pull-right">
                                    <a href="~/Account/Signout" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> @LocalText.Get("Navigation.LogoutLink")</a>
                                </div>
                                
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <!--
                <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" id="SidebarSearch" name="q" class="form-control" autocomplete="off">
                    
                    <span class="input-group-btn">
                        <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                      
                </div>
            </form>  -->
            <ul class="sidebar-menu" id="SidebarMenu">
                @{Html.RenderPartial(MVC.Views.Shared.LeftNavigation, new Serene2.Navigation.NavigationModel()); }
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
@if (IsSectionDefined("ContentHeader"))
{
        <section class="content-header">
            @RenderSection("ContentHeader")
        </section>
}
        
            <section class="content">
                @RenderBody()
            </section>
        

    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            @Texts.Site.Layout.FooterInfo
        </div>
        <strong>@Texts.Site.Layout.FooterCopyright</strong> @Texts.Site.Layout.FooterRights
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
        <div class="tab-content">
            <div class="tab-pane active" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">@Texts.Site.Layout.GeneralSettings</h3>
                    <!--
                    <div class="form-group">
                        <label class="control-sidebar-subheading">@Texts.Site.Layout.Language</label>
                        <select id="LanguageSelect" class="form-control"></select>
                    </div>
                    -->
                    <div class="form-group" style="margin-top: 15px;">
                        <label class="control-sidebar-subheading">@Texts.Site.Layout.Theme</label>
                        <select id="ThemeSelect" class="form-control"></select>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
</div>

    
<script type="text/javascript">
    $().ready(function () {
        new Serene2.Common.SidebarSearch($('#SidebarSearch'), $('#SidebarMenu')).init();
        new Serene2.Common.LanguageSelection($('#LanguageSelect'), '@(System.Globalization.CultureInfo.CurrentUICulture.Name)');
        new Serene2.Common.ThemeSelection($('#ThemeSelect'));
        @RenderSection("PageInitScript", false);

        var doLayout = function () {
            height = (this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height;
            height -= $('header.main-header').outerHeight() || 0;
            height -= $('section.content-header').outerHeight() || 0;
            height -= $('footer.main-footer').outerHeight() || 0;
            if (height < 200) height = 200;
            $("section.content").css("min-height", (height) + "px");

            $('body').triggerHandler('layout');
        };

        $(window).bind("load resize layout", doLayout);
        doLayout();
    });
</script>
}
</body>
</html>
