﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Assessment.WellBeing.EntityPlural");

    var user = (UserDefinition)Serenity.Authorization.UserDefinition;

    if (user.isAthlete == 1)
    {

        Serene2.Global.MyGlobals.IsAthlete = "1";
    }

    if (user.isAthlete != 1)
    {
        Serene2.Global.MyGlobals.IsAthlete = "";
    }

}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {

        if ("@user.isAthlete" == "True") {
            new Serene2.Assessment.WellBeingGridAthlete($('#GridDiv'), {}).init();
        }

        if ("@user.isAthlete" != "True") {
            new Serene2.Assessment.WellBeingGrid($('#GridDiv'), {}).init();
        }
        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>