﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SportsTrainerList.SportsCoachList.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene2.SportsTrainerList.SportsCoachListGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>