﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AthleteNote.AthleteNote.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene2.AthleteNote.AthleteNoteGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>