﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.RPE.Rpe.EntityPlural");
}


<link href="~/Scripts/bootstrap-slider/bootstrap-slider.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-slider/bootstrap-slider.js"></script>

<div id="GridDiv"></div>


<script type="text/javascript">
    jQuery(function () {
        new Serene2.RPE.RpeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>


