﻿
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AthleteLoggedToday.AthleteLoggedToday.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene2.AthleteLoggedToday.AthleteLoggedTodayGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>